setuptools<81
wheel
tqdm
pytorch_lightning
black
ruff
hydra-core
jaxtyping
beartype
wandb
einops
colorama
scikit-image
colorspacious
matplotlib
moviepy==1.0.3
imageio
timm
dacite
lpips
e3nn
plyfile
tabulate
svg.py
mmcv==2.2.0
kornia==0.6.7
opencv-python
Pillow
open3d
trimesh
pyquaternion
numpy
scipy
scikit-learn
tensorflow==2.19.0
tensorboard
huggingface_hub
open-clip-torch
segment-anything
ftfy
regex
antialiased-cnns
psutil
requests
pyyaml
termcolor
typing_extensions
omegaconf
